<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOOF ELDONIA</title>
    <link rel="stylesheet" href="../css/shoofeldonia.css">
    <link rel="icon" type="image/svg" href="../photo/Screenshot__7_-removebg-preview 1.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl pb-5">
            <div class="container-fluid   border border-top-0 border-start-0 border-end-0">
              <a class="navbar-brand" href="#">
                <img src="../photo/Screenshot__7_-removebg-preview 1.svg" alt="logo">
              </a>
              <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/HOME.html" >الصفحة الرئيسية</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/Tours.html">جولات السياحة</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/OUR SERVICES.html">خدمتنا</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-3" href="../html/Who are we.html">نبذة عنا</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/Connect With us.html">التواصل معنا</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-4" href="#">الاسعار</a>
                  </li>
                  <li class="nav-item me-5">
                    <a class="nav-link  text-body" href="../html/Login.html">
                        تسجيل دخول
                        <img src="../photo/caret-down (1) 6.svg" class="img2" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-body" href="#">
                        <img src="../photo/circle-phone-flip 1.svg" class="img3" alt="">
                            اتصل بنا
                    </a>
                </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>
    <div class=" container">
        <h4 style="color:#004579;">عرض شهر العسل || إسطنبول – بورصة – أنطاليا</h4>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="inner8 container">
                    <h6 class="text-body pt-3"> هل اعجبك الربرنامج؟</h6>
                 
                    <h4 class=" mt-4" style="color: #004579;">احجز برنامجك على الفور</h4>
                    
                    <form  action="/action_page.php" class="pb-3">
                          <div class=" mb-3">
                                <label class=" text-body  mb-1"> الاسم بالكامل</label>
                                <input type="text"  class="form-control " placeholder="حقل الزامى" required>
            
                          </div> 
                          <div class="  mb-3">
                                <label class=" text-body  mb-1">الهاتف:</label>
                                <input type="tel" id="number"class="form-control " placeholder="حقل الزامى" required> 
                          </div>
                          <div class="  mb-3">
                            <label class=" text-body  mb-1">البريد الالكتروني</label>
                            <input type="email" id="email"class="form-control " placeholder="حقل الزامى" required> 
                         </div>
    
                          <div>
                                <button class="btn w-100" type="submit" style="background-color: #004579;" >
                                <a href="#" class="text-white " style="text-decoration: none;">
                                    ارسال الطلب
                                </a>
                                </button>
                          </div>
                    </form>
                </div>
                <div class="container cards4 mt-3 ">
                    <div class="d-flex align-items-center justify-content-center pt-4">
                        <img src="../photo/Rectangle 204.svg" class="img-fluid" height="386px">
                    </div>
                    <div class="mt-3">
                        <h4>
                            عرض شهر العسل اسطنبول
                        </h4>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 ">
                        <span class=""> 
                            <img src="../photo/users.svg" class="d-inline">
                            <p class="text-primary d-inline">شخصين</p>
                        </span>
                        <span class="">
                            <img src="../photo/bed.svg" alt="" class="d-inline">
                            <p class="text-primary d-inline">7 أيام - 6 ليالي</p>
                        </span>
                    </div>
                    <div class="mt-4">
                        <h6>
                            أكمل فرحتك بالبرنامج السياحي الأمثل لأحلى شهر عسل
                            منظم يشمل أجمل معالم إسطنبول ومحيطها بخدمات
                            مميزة...
                        </h6>
                    </div>
                    <div class="text-center">
                        <button class="btn  w-100" type="submit" style="background-color: #004579;">
                            <a href="#" style="text-decoration: none; " class="text-white">
                                انطلق معنا
                            </a>
                        </button>
                    </div>
    
                </div>

                <div class="container cards4 mt-3 ">
                    <div class="d-flex align-items-center justify-content-center pt-4">
                        <img src="../photo/Rectangle 204.svg" class="img-fluid" height="386px">
                    </div>
                    <div class="mt-3">
                        <h4>
                            عرض شهر العسل اسطنبول
                        </h4>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 ">
                        <span class=""> 
                            <img src="../photo/users.svg" class="d-inline">
                            <p class="text-primary d-inline">شخصين</p>
                        </span>
                        <span class="">
                            <img src="../photo/bed.svg" alt="" class="d-inline">
                            <p class="text-primary d-inline">7 أيام - 6 ليالي</p>
                        </span>
                    </div>
                    <div class="mt-4">
                        <h6>
                            أكمل فرحتك بالبرنامج السياحي الأمثل لأحلى شهر عسل
                            منظم يشمل أجمل معالم إسطنبول ومحيطها بخدمات
                            مميزة...
                        </h6>
                    </div>
                    <div class="text-center">
                        <button class="btn  w-100" type="submit" style="background-color: #004579;">
                            <a href="#" style="text-decoration: none; " class="text-white">
                                انطلق معنا
                            </a>
                        </button>
                    </div>
    
                </div>
            </div>
            <div class="col-lg-7 col-md-6 mb-5">
                <div class="container-fluid ">
                    <h5 class="pt-2" style="color: #004579;">تفاصيل برنامج شهر العسل في اسطنبول وبورصة وانطاليا</h5>
                </div>
                <div class="container-fluid mt-5 mb-4">
                    <h2 class="text-body">معلومات عن برنامج شهر العسل في تركيا</h2>
                </div>
                <div class="container-fluid mt-5 mb-5">
                    <h6 style="text-align: justify;">
                        هل ترغب بشهر عسل مفعم بالرومنسية؟ ابدأ حياتك الزوجية بذكريات لا تنسى، من خلال قيامك برحلة شهر
                        عسل في تركيا، واستمتع برحلة إلى أجمل مدن تركيا: إسطنبول –بورصة– أنطاليا.
                        <span id="dots">...</span><span id="more">
                        قضاء شهر عسل مميز في تلة العرائس في إسطنبول الآسيوية للاستمتاع بإطلالة بانورامية ساحرة على
                        معظم مدينة إسطنبول، والجلوس في مقاهي أسكودار على البوسفور والتجول والتقاط الصور على ضفاف
                        المضيق، والسفر إلى بورصة الخضراء المشهورة بكثرة حدائقها العامة والمنتزهات الموجودة فيها، فضلاً عن
                        الغابات المتنوعة الشاسعة المنتشرة حول المدينة.
                        لا تضيع فرصة تجربة ركوب التلفرك الأطول في العالم حيث الصعود عبره إلى جبل أولوداغ الشهير في منطقة
                        بورصة وزيارة الشجرة المعمرة.</span>
                    </h6>
                    <button onclick="myFunction()" id="myBtn" class="border-0" style="color: #004579; width: 140px; background-color: transparent;">عرض المزيد</button>
                </div>
                <div class="container-fluid mt-3 mb-4">
                    <h4 class="text-body">
                        النشاطات التي يمكن القيام بها في برنامج شهر العسل
                    </h4>
                </div>
                <div class="container-fluid mt-3 mb-4">
                    <h6>
                        دعوة لقضاء أفضل أيام العمر -شهر العسل- في أروع الأماكن في تركيا، حيث مدن السياحة الأشهر
                        إسطنبول، وأنطاليا بالإضافة إلى بورصة الخضراء وقمة أولوداغ الثلجية الشهيرة والتجول بالقوارب بهدف
                        الاستمتاع بالمناظر الطبيعية الرائعة وممارسة الأنشطة البحرية المميزة، مثل: الغوص والصيد، والقيام
                        بزيارة إلى وادي الفراشات النادرة لمشاهدة أكثر من 100 نوع من الفراشات الفريدة مع الأمسيات الشاطئية
                        الجميلة، بالإضافة إلى زيارة منتجع الأساطير.
                        وفي أنطاليا مدينة الشمس والعاصمة السياحية لتركيا تتضاعف المتعة بزيارة شلالات دودن والكهوف
                        والمناظر الخلابة وزيارة المدينة القديمة وأسواقها العريقة.<br>
                        وفي إسطنبول تكون جولات اليخوت عند مضيق البوسفور واحتفالية العروسين بقالب الكاتو بالإضافة إلى
                        زيارة قصر دولمة بهشة الشهير
                    </h6>
                    
                </div>
                <hr>
                <div class="container-fluid mt-4 mb-4">
                    <h4 style="color: #004579;">خريطة البرنامج</h4>
                </div>
                <div class="container-fluid mt-3 mb-3">
                    <img src="../photo/Rectangle 197.svg" class="img-fluid" alt="">
                </div>
                <div class="container-fluid mt-3 mb-3">
                    <h4 style="color: #004579;">تفاصيل الايام</h4>
                </div>
                <div class="container-fluid mt-3 mb-5 border border-primary border-top-0 border-start-0 border-end-4 border-bottom-0">
                    <h6 class="pb-5">الوصول الى مطار اسطنبول ... يكون مندوبنا باستقبالكم في المطار. وبعد
                        ذلك التوجه الى الفندق. واستلامالغرف. وقت حر للتعرف على المنطقة
                    </h6>
                </div>
                <br>
                <hr>
                <div class="container-fluid mt-3 mb-3">
                    <h4 style="color: #004579;">مميزات البرنامج</h4>
                </div>
                <div class="container-fluid row mb-5 inner55">
                    <div class="col-lg-6 col-md-6">
                       <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg" class="d-inline">
                                <h6 class="d-inline">مرشد سياحي</h6>
                            </span>
                       </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg" class="d-inline">
                                <h6 class="d-inline">الاستقبال من المطار بسيارة خاصة</h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg" class="d-inline">
                                <h6 class="d-inline">الإقامة الفندقية</h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg" class="d-inline">
                                <h6 class="d-inline">لا يشمل رسوم النشاطات المأجورة</h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg" class="d-inline">
                                <h6 class="d-inline">لا يشمل تذاكر الطيران الدولي</h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg" class="d-inline">
                                <h6 class="d-inline">تذاكر طيران داخلية</h6>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg"class="d-inline">
                                <h6 class="d-inline"> إفطار بوفيه مفتوح </h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg"class="d-inline">
                                <h6 class="d-inline">جولات سياحية يومية</h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg"class="d-inline">
                                <h6 class="d-inline">لا يشمل المصاريف الشخصية</h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg"class="d-inline">
                                <h6 class="d-inline">لا يشمل وجبات الغداء أو العشاء</h6>
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>
                                <img src="../photo/check 3.svg"class="d-inline">
                                <h6 class="d-inline">فريق متابعة على مدار الساعة</h6>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container-fluid mt-3 mb-5">
                    <span> 
                        <h4 style="color: #004579;" class="d-inline">ملاحظة :</h4>
                        <h6 class="d-inline"> لدينا مرونة في عدد أيام وليالي البرنامج.</h6>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class=" mt-5 ">
        <div class="row pt-5">
           <div class="col-lg-4 ">
             <div class="pe-5">
                <img src="../photo/Screenshot__7_-removebg-preview 1.svg" class="img-fluid" alt="">
             </div>
             <div>
                <h5 class="text-body pe-5">
                   وكالة شوف الدنيا الدنيا للسفر و السياحة هى علامة رائدة فى مجال السياحة الخارجية و وكيلة لافضل الوجها السياحية حول العالم
                </h5>
                <h6 class="pe-5 mt-5">
                   اشترك الان
                </h6>
             </div>
             <div class="pe-5 mt-3">
                <a href="#" style="text-decoration: none;">
                  <i class="fa fa-instagram" style="font-size:36px;color:#004579"></i>
                </a>
                <a href="#"  style="text-decoration: none;">
                  <i class="fa fa-snapchat-square" style="font-size:36px; color:#004579;"></i>
                </a>
                <a href="#"  style="text-decoration: none;">
                  <i class="fa fa-whatsapp" style="font-size:36px; color:#004579;"></i>
                </a>
                <a href="#"  style="text-decoration: none;">
                 <i class='fa fa-globe' style='font-size:36px; color: #004579;'></i>
                </a>
                <a href="#"  style="text-decoration: none;">
                 <i class="fa fa-tiktok"  style='font-size:36px; color: #004579;'></i>
                </a>
             </div>
           </div>
           <div class="col-lg-8" style="background-color: #004579;">
             <div class="row pt-3 pe-4 ">
                <div class="col-lg-4 col-md-4">
                    <ul class="list-group border border-0" >
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size:20px;">روابط مهمة</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size:18px;">من نحن</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">اتصل بنا</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">الاسئلة المتكررة</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">سياسة الخصوصية</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">الشروط و الاحكام</li>
                   </ul>
                </div>
               
                <div class="col-lg-4 col-md-4">
                    
                    <ul class="list-group  border border-0" >
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 20px;">خدمات سفرك</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">سيارة مع سائق</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">حجوزات الطياران</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">فنادق و منتجعات</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">البرامج السياحية</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">الرحلات السياحية اليومية</li>
                   </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                 <ul class="list-group border border-0" >
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 20px;">تواصل معنا</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">
                          طريق الامير سلطان بن عبد العزيز المملكة العربية السعودية
                     </li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;" >966504113010</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">966556231777</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">966559231777</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">966559401777</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">
                         <a href="mailto:info@shoofeldonia.com" style="text-decoration: none;" class="text-white">
                             info@shoofeldonia.com
                         </a>
                     </li>
                   </ul>
                </div>
             </div>
 
         </div>
        </div>
     </div>
 

     <script src="../js/shoofeldonia.js"></script>
</body>
</html>