<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOOF ELDONIA</title>
    <link rel="stylesheet" href="../css/shoofeldonia.css">
    <link rel="icon" type="image/svg" href="../photo/Screenshot__7_-removebg-preview 1.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>
    <link rel="stylesheet" href="../build/css/intlTelInput.css">
    <link rel="stylesheet" href="../build/css/demo.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl pb-5">
            <div class="container-fluid   border border-top-0 border-start-0 border-end-0">
              <a class="navbar-brand" href="#">
                <img src="../photo/Screenshot__7_-removebg-preview 1.svg" alt="logo">
              </a>
              <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/HOME.html" >الصفحة الرئيسية</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/Tours.html">جولات السياحة</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/OUR SERVICES.html">خدمتنا</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-3" href="../html/Who are we.html">نبذة عنا</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-5" href="../html/Connect With us.html">التواصل معنا</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body ms-4" href="#">الاسعار</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-body" href="../html/Login.html">
                        تسجيل دخول
                        <img src="../photo/caret-down (1) 6.svg" class="img2" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-body" href="#">
                        <img src="../photo/circle-phone-flip 1.svg" class="img3" alt="">
                            اتصل بنا
                    </a>
                </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <h5 class="text-body pe-4 ">حان وقت الرحلات المميزة</h5>
        <h2 class="pe-4" style="color: #004579;">برامج سياحية متنوعة بانتظارك</h2>
    </div>
    <div class="container-fluid mb-5">
        <div>
            <img src="../photo/Rectangle 196.svg" class="img-fluid">
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row  ">
            <div class="col-lg-3 col-md-6 inner8" style="height: 500px;">
                <h4 class="text-primary pt-2">استمتع بأروع البرامج
                    السياحية مع سفرك
                </h4>
                <h6 class="text-body mt-4 ">اختر برنامجك المفضّلً</h6>
                <div class="inner9 " style="height: 55px;">
                    <h6 class="text-primary d-inline ms-4 pe-2">ابحث عن البرنامج</h6>
                    <button class="btn mt-2 me-2 d-inline " style="background-color: #004579; width: 40%;">
                        <a href="#" style="text-decoration: none;" class="text-white">اتصل بنا</a>
                    </button>
                </div>
                <form  action="/action_page.php" class="mt-2">
                      <div class=" mb-3">
                            <label class=" text-body  mb-1"> الاسم بالكامل</label>
                            <input type="text"  class="form-control " placeholder="حقل الزامى" required>
        
                      </div> 
                      <div class="  mb-3">
                            <label class="text-body mb-1">الهاتف:</label><br>
                            <input id="phone" name="phone" type="tel" class="form-control w-100 " style="height: 40px;">
                      </div>
                      <div class="  mb-3">
                        <label class=" text-body  mb-1">البريد الالكتروني</label>
                        <input type="email" id="email"class="form-control " placeholder="حقل الزامى" required> 
                     </div>

                      <div>
                            <button class="btn w-100" type="submit" style="background-color: #004579;" >
                            <a href="#" class="text-white " style="text-decoration: none;">
                                ارسال الطلب
                            </a>
                            </button>
                      </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-4 me-3 ms-3 ">
                <div class="row g-0 ">
                    <div class="col-lg-7 col-md-3 pt-4" >
                        <div style="background-color: #004579; border-radius: 5px;" class="h-75 d-flex justify-content-center align-items-center ">
                            <h5 class="text-white">دعنا نتشارك بالتخطيط لأدق تفاصيل رحلتك</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <img src="../photo/Rectangle 209.svg" class="img-fluid" alt="">
                   </div> 
                   
                </div>
                <div class="row g-0 mt-5 mb-5">
                    <div class="col-lg-4 col-md-4">
                        <img src="../photo/Rectangle 2099.svg" class="img-fluid" alt="">
                    </div> 
                    <div class="col-lg-7 col-md-3 pt-4" >
                        <div style="background-color: #004579; border-radius: 5px;" class="h-75 d-flex justify-content-center align-items-center ">
                            <h5 class="text-white">لقضاء أسعد لحظات العمر في أجمل
                                المناطق
                            </h5>
                        </div>
                    </div>
                    
                </div>
                <div class="row g-0 mt-5 ">
                    <div class="col-lg-7 col-md-3 pt-4" >
                        <div style="background-color: #004579; border-radius: 5px;" class="h-75 d-flex justify-content-center align-items-center ">
                            <h5 class="text-white">تجربة سياحية فريدة لن تنساها على مر
                                الأيام
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <img src="../photo/Rectangle 210.svg" class="img-fluid" alt="">
                    </div> 
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <h4 style="color: #004579;">برامج سياحية رائعة حول العالم</h4>
    </div>
    <div class=" inner99">
        <div id="demo" class="carousel slide container  " data-bs-ride="carousel">

           
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
            
           
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row mb-3">
                    <div class="col-lg-3 col-md-4 cards2 m-4">
                        <div class="d-flex align-items-center justify-content-center mt-4">
                            <img src="../photo/Rectangle 200.svg" class="img-fluid" height="386px">
                        </div>
                        <div class="mt-3">
                            <h4>
                                عرض شهر العسل اسطنبول
                            </h4>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 ">
                            <span class=""> 
                                <img src="../photo/users.svg" class="d-inline">
                                <p class="text-primary d-inline">شخصين</p>
                            </span>
                            <span class="">
                                <img src="../photo/bed.svg" alt="" class="d-inline">
                                <p class="text-primary d-inline">7 أيام - 6 ليالي</p>
                            </span>
                        </div>
                        <div class="mt-4">
                            <h6>
                                أكمل فرحتك بالبرنامج السياحي الأمثل لأحلى شهر عسل
                                منظم يشمل أجمل معالم إسطنبول ومحيطها بخدمات
                                مميزة...
                            </h6>
                        </div>
                        <div class="text-center">
                            <button class="btn  w-100" type="submit" style="background-color: #004579;">
                                <a href="#" style="text-decoration: none; " class="text-white">
                                    انطلق معنا
                                </a>
                            </button>
                        </div>
        
                    </div>
                   
                    <div class="col-lg-3 col-md-4 cards2 m-4">
                        <div class="d-flex align-items-center justify-content-center mt-4">
                            <img src="../photo/Rectangle 200.svg" class="img-fluid" height="386px">
                        </div>
                        <div class="mt-3">
                            <h4>
                                عرض شهر العسل اسطنبول
                            </h4>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 ">
                            <span class=""> 
                                <img src="../photo/users.svg" class="d-inline">
                                <p class="text-primary d-inline">شخصين</p>
                            </span>
                            <span class="">
                                <img src="../photo/bed.svg" alt="" class="d-inline">
                                <p class="text-primary d-inline">7 أيام - 6 ليالي</p>
                            </span>
                        </div>
                        <div class="mt-4">
                            <h6>
                                أكمل فرحتك بالبرنامج السياحي الأمثل لأحلى شهر عسل
                                منظم يشمل أجمل معالم إسطنبول ومحيطها بخدمات
                                مميزة...
                            </h6>
                        </div>
                        <div class="text-center">
                            <button class="btn  w-100" type="submit" style="background-color: #004579;">
                                <a href="#" style="text-decoration: none; " class="text-white">
                                    انطلق معنا
                                </a>
                            </button>
                        </div>
        
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row mb-3">
                    <div class="col-lg-3 cards2 m-4">
                        <div class="d-flex align-items-center justify-content-center mt-4">
                            <img src="../photo/Rectangle 200.svg" class="img-fluid" height="386px">
                        </div>
                        <div class="mt-3">
                            <h4>
                                عرض شهر العسل اسطنبول
                            </h4>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 ">
                            <span class=""> 
                                <img src="../photo/users.svg" class="d-inline">
                                <p class="text-primary d-inline">شخصين</p>
                            </span>
                            <span class="">
                                <img src="../photo/bed.svg" alt="" class="d-inline">
                                <p class="text-primary d-inline">7 أيام - 6 ليالي</p>
                            </span>
                        </div>
                        <div class="mt-4">
                            <h6>
                                أكمل فرحتك بالبرنامج السياحي الأمثل لأحلى شهر عسل
                                منظم يشمل أجمل معالم إسطنبول ومحيطها بخدمات
                                مميزة...
                            </h6>
                        </div>
                        <div class="text-center">
                            <button class="btn  w-100" type="submit" style="background-color: #004579;">
                                <a href="#" style="text-decoration: none; " class="text-white">
                                    انطلق معنا
                                </a>
                            </button>
                        </div>
        
                    </div>
                    
                    <div class="col-lg-3 cards2 m-4">
                        <div class="d-flex align-items-center justify-content-center mt-4">
                            <img src="../photo/Rectangle 200.svg" class="img-fluid" height="386px">
                        </div>
                        <div class="mt-3">
                            <h4>
                                عرض شهر العسل اسطنبول
                            </h4>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 ">
                            <span class=""> 
                                <img src="../photo/users.svg" class="d-inline">
                                <p class="text-primary d-inline">شخصين</p>
                            </span>
                            <span class="">
                                <img src="../photo/bed.svg" alt="" class="d-inline">
                                <p class="text-primary d-inline">7 أيام - 6 ليالي</p>
                            </span>
                        </div>
                        <div class="mt-4">
                            <h6>
                                أكمل فرحتك بالبرنامج السياحي الأمثل لأحلى شهر عسل
                                منظم يشمل أجمل معالم إسطنبول ومحيطها بخدمات
                                مميزة...
                            </h6>
                        </div>
                        <div class="text-center">
                            <button class="btn  w-100" type="submit" style="background-color: #004579;">
                                <a href="#" style="text-decoration: none; " class="text-white">
                                    انطلق معنا
                                </a>
                            </button>
                        </div>
        
                    </div>
                </div>
              </div>
                
              </div>
              
            </div>
            
            
            <button class="carousel-control-prev"  type="button" data-bs-target="#demo" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" ></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
          
    </div>

    <div class=" container-fluid pt-5 pb-5 ">
        <div class="text-center mt-5">
         <p style="color: #004579;font-weight: 600; font-size: 32px; line-height: 50px;">خدماتنا البرمجية المذهلة في سفرك</p>

        </div>       
    </div>
    <div class=" ">
        <div class="row g-0 ">
            <div class="col-lg-7 col-md-12   pb-5" style="background-color: #004579;" >
                <h3 class="text-white pe-3 pt-5">بإمكانكم الآن الاستمتاع بأفضل البرامج السياحية
                    مع شوف الدنيا.
                </h3>
                <p class="text-white pe-3 mt-4" style="font-weight: 400;font-size: 20px; line-height: 31px;">
                    تمتاز برامجنا في سفرك السياحية بتنوعها الجذاب وشمولها لأكثر
                    الوجهات السياحية تفضيلاً، مع الاهتمام بأدق التفاصيل وتأمين
                    أفضل عروض الأسعار بما يناسب كافة الشرائح.
                    لا تتردد بالتواصل معنا لنعرض عليك البرنامج السياحي الأنسب.
                </p>
            </div>
            <div class="col-lg-5 col-md-12 ">
                <img src="../photo/Rectangle 221.svg" class="img-fluid" >
            </div>

        </div>
    </div>
   <div class=" mt-5 ">
        <div class="row  pt-5 ">
           <div class="col-lg-4 ">
             <div class="pe-5">
                <img src="../photo/Screenshot__7_-removebg-preview 1.svg" class="img-fluid" alt="">
             </div>
             <div>
                <h5 class="text-body pe-5">
                   وكالة شوف الدنيا الدنيا للسفر و السياحة هى علامة رائدة فى مجال السياحة الخارجية و وكيلة لافضل الوجها السياحية حول العالم
                </h5>
                <h6 class="pe-5 mt-5">
                   اشترك الان
                </h6>
             </div>
             <div class="pe-5 mt-3">
                <a href="#" style="text-decoration: none;">
                  <i class="fa fa-instagram" style="font-size:36px;color:#004579"></i>
                </a>
                <a href="#" style="text-decoration: none;">
                  <i class="fa fa-snapchat-square" style="font-size:36px; color:#004579;"></i>
                </a>
                <a href="#" style="text-decoration: none;">
                  <i class="fa fa-whatsapp" style="font-size:36px; color:#004579;"></i>
                </a>
                <a href="#" style="text-decoration: none;">
                 <i class='fa fa-globe' style='font-size:36px; color: #004579;'></i>
                </a>
                <a href="#" style="text-decoration: none;">
                 <i class="fa fa-tiktok"  style='font-size:36px; color: #004579;'></i>
                </a>
             </div>
           </div>
           <div class="col-lg-8" style="background-color: #004579;">
             <div class="row pt-3 pe-4 ">
                <div class="col-lg-4 col-md-4">
                    <ul class="list-group border border-0" >
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size:20px;">روابط مهمة</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size:18px;">من نحن</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">اتصل بنا</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">الاسئلة المتكررة</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">سياسة الخصوصية</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">الشروط و الاحكام</li>
                   </ul>
                </div>
               
                <div class="col-lg-4 col-md-4">
                    
                    <ul class="list-group  border border-0" >
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 20px;">خدمات سفرك</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">سيارة مع سائق</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">حجوزات الطياران</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">فنادق و منتجعات</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">البرامج السياحية</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">الرحلات السياحية اليومية</li>
                   </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                 <ul class="list-group border border-0" >
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 20px;">تواصل معنا</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">
                          طريق الامير سلطان بن عبد العزيز المملكة العربية السعودية
                     </li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;" >966504113010</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">966556231777</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">966559231777</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">966559401777</li>
                     <li class="list-group-item border border-0 text-white" style="background-color: #004579; font-size: 18px;">
                         <a href="mailto:info@shoofeldonia.com" style="text-decoration: none;" class="text-white">
                             info@shoofeldonia.com
                         </a>
                     </li>
                   </ul>
                </div>
             </div>
 
         </div>
        </div>
     </div>
    <script src="../js/shoofeldonia.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/shoofeldonia.js"></script>
    <script src="../build/js/intlTelInput.js"></script>
    <script>
      var input = document.querySelector("#phone");
      window.intlTelInput(input, {
        utilsScript: "build/js/utils.js",
      });
    </script>
    
</body>
</html>